.bar {
    height: 50px;
    line-height: 50px;
    zoom: 1
}

.bar .view {
    float: right;
    height: 29px;
    width: 32px;
    margin: 12px 18px 0 0;
    background: url(../image/btn_icon.gif?t=1430138411606) -100px -268px no-repeat;
}

.bar .view-selected {
    background-position: -100px -238px;
}

.bar .list {
    float: right;
    height: 29px;
    width: 32px;
    margin: 12px 0 0;
    background: url(../image/btn_icon.gif?t=1430138411606) -66px -238px no-repeat;
}

.bar .list-selected {
    background-position: -66px -268px;
}

.bar .icon-btn-createfolder {
    float: right;
    background: url(../image/btn_icon.gif?t=1430138411606) 0 -416px no-repeat;
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    padding-left: 20px;
    color: #666;
    vertical-align: middle;
    margin: 12px 10px 0 5px;
}

.crumbs {
    padding: 0 0 0 25px;
    color: #333;
    float: left;
    zoom: 1;
    text-align: left;
    max-width: 450px;
    overflow: visible;
    font-weight: bold;
}

.crumbs .item {
    display: inline-block;
    max-width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: top
}

.resource-content #resources .item {
    border-bottom: 1px solid #D2D2D2;
}

.resource-content #resources .item:hover {
    background-color: #f0f8fd;
}

.resource-content .title {
    background: #F7F7F7;
    border-radius: 2px;
    border: 1px solid #d2d2d2;
    color: #888;
    height: 41px
}

.resource-content .title .col {
    height: 41px;
    line-height: 41px;
    border-left: 1px solid #fff;
    border-right: 1px solid #e5e5e5;
    cursor: pointer;
}

.resource-content .col {
    float: left;
    height: 38px;
    line-height: 38px;
    text-indent: 10px;
    width: 10%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.resource-content .title .c1 {
    border-left: 0;
}

.resource-content .c1 {
    position: relative;
    text-align: left;
    top: 0;
    overflow: visible;
}

.resource-content .title .item .chk {
    top: 2px;
    left: 2px;
}

.resource-content .item .chk {
    width: 32px;
    height: 38px;
    position: absolute;
    cursor: default;
    top: 0;
    left: 3px;
}

.resource-content .item .chk-ico {
    background: url(../image/btn_icon.gif) -113px 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 12px;
    left: 12px
}

.resource-content .title .name {
    text-indent: 42px;
}

.resource-content .item .name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-indent: 68px;
    font-family: simsun;
    font-size: 14px;
}

.resource-content .item .head {
    font-size: 14px;
    text-align: center;
}

.resource-content .item .ico {
    position: absolute;
    top: 12px;
    left: 42px;
}

.global-icon-16-dir {
    display: inline-block;
    width: 26px;
    height: 22px;
    background: url(../image/sprite_list_icon.gif?t=1430211608939) 9999px 9999px no-repeat;
    background-position: -5px -3px;
}


.resource-content .item .btns {
    position: absolute;
    top: 0;
    right: 15px;
    height: 38px;
    background-color: #f0f8fd;
    display: none;
    line-height: 0;
}

.resource-content .item .btns .btn-group {
    vertical-align: top;
    margin: 13px 0 0 5px;
}
.resource-content .title .asc {
    background: url(../image/btn_icon.gif?t=1430138411606) -50px -354px;
    display: inline-block;
    height: 10px;
    width: 9px;
    position: relative;
    top: 1px;
    visibility: hidden;
    _vertical-align: middle;
    _margin: 15px 0;
}
.resource-content .title .desc {
    background-position: -50px -337px;
}
.resource-content .item .chked .chk-ico{
    background-position: -113px -19px;
}
.tool-bar {
    position: relative;
    z-index: 90;
    display: none;
}
.tool-bar .bar {
    position: absolute;
    top: 0;
    left: 0;
    color: #666;
    height: 41px;
    line-height: 41px;
    border-left: 1px solid #fff;
    border-right: 1px solid #e5e5e5;
    background: #F2F6FF;
    border-radius: 2px;
    border: 1px solid #D2D2D2;
    width: 100%;
}
.tool-bar .chk-box {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 5px;
    top: 5px;
}
.tool-bar .chk {
    background: transparent url(../image/btn_icon.gif?t=1430138411606) -113px 0 no-repeat;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 9px;
    left: 9px;
}
.tool-bar .chked{
    background-position: -113px -19px;
}
.tool-bar .text {
    margin: 0 10px 0 40px;
}
.tool-bar a.disable{
    cursor: default;
    color: #666!important;
}
.sunken-menu {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    background-image: linear-gradient(to left, #f6f6f6 0%, #fff 8px);
    font-size:15px;
    border-top: 1px solid #f4f4f4;
    border-left: 1px solid #f4f4f4;
}

.sunken-menu .header {
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
    margin-bottom: -8px;
    margin-top: -15px;
    padding-bottom: -5px;
    font-size: 15px;
    background-color: #F7F7F7
}
.sunken-menu-group {
    list-style-type: none;
}
.tooltipped {
    position: relative;
}
.sunken-menu-item {
    display: block;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid transparent;
    outline: 0;
}
.sunken-menu-item.selected {
    font-weight: bold;
    color: #333;
    background-color: #fff;
    border-color: #eee transparent #eee #eee;
    border-radius: 0 3px 3px 0;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
}
.sunken-menu-item.selected:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 3px;
    content: "";
    background-color: #d26911;
    border-radius: 3px 0 0 3px;
}
.octicon, .mega-octicon {
    font: normal normal normal 16px/1 octicons;
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sunken-menu-item .octicon {
    left: -1px;
    width: 16px;
    color: #999;
    text-align: center;
}
.sunken-menu-item.selected .octicon {
    color: #333;
}
.repo-nav .full-word {
    display: inline-block;
    width: 100px;
    vertical-align: top;
    padding-left: 25px;
}
.sunken-menu-item .mini-loader {
    position: absolute;
    top: 9px;
    left: 11px;
    display: none;
}
.sunken-menu-separator {
    position: relative;
    height: 5px;
    margin: 8px 0 6px 1px;
    background-image: -webkit-radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
    background-image: radial-gradient(farthest-side at left top, #f4f4f4, rgba(244,244,244,0));
}
.sunken-menu-separator:before {
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    content: "";
    background-image: -webkit-linear-gradient(left, #eee 70%, #fff 100%);
    background-image: linear-gradient(to right, #eee 70%, #fff 100%);
    border-top: 1px solid #eee\9;
}
[class^="ico-"]{
    width: 32px;
    height: 32px;
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 8px;
}
.ico-datas{
    background: url(../image/data.png) no-repeat;
}
.ico-experiment{
    background: url(../image/experiment.png) no-repeat;
}
.ico-dataset{
    background: url(../image/dataset.png) no-repeat;
}

.ico-thesis {
    background: url(../image/paper.png) no-repeat;
}

.ico-journalpapers {
    background: url(../image/pubpaper.png) no-repeat;
}
.ico-report{
    background: url(../image/report.png) no-repeat;
}

.tiphide {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 3px;
    font-family: Arial;
    line-height: 11px;
    text-align: center;
    border: 1px solid #f1f7fc;
}

a.tiphide:hover {
    color: #F60;
    background-color: #FEE;
    border: #F9B7B8 solid 1px;
}

.linkList{
    margin-right: 5px;
}